@import url('../colors.css');

.back-home {
  cursor: pointer;
  text-decoration: underline;
  display: block;
  color: var(--color-gray-light);
  text-align: center;
  text-underline-offset: 3px;
  font-size: 14px;
}

.back-home:hover {
  color: var(--color-white);
}

.players-order {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 30px;
  font-size: 14px;
}

.players-order-title {
  color: var(--color-gray-light);
}

.current-player {
  color: var(--color-main);
  font-weight: 550;
}

.rest-player {
  color: var(--color-gray);
}

.game-cta {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  margin-top: 30px;
}
