@import url('../colors.css');

.home-btn {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
}

.instructions {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  margin-top: 50px;
}

.instructions span {
  color: var(--color-gray)
}