@import url('../colors.css');

.home {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.home-btn {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.instructions {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  font-size: 14px;
}

.instructions span {
  color: var(--color-gray)
}

.home-description-game {
  font-size: 14px;
  text-align: center;
  color: var(--color-gray)
}