@import url('../colors.css');

.join-room-form {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-top: 30px;
}

.join-room-cta {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

.join-room-cta button {
  width: 100%;
}

.room-error {
  color: #DB0916;
  text-align: center;
  margin-top: 40px;
  font-weight: 500;
}

.join-room-back {
  color: var(--color-gray);
  cursor: pointer;
  display: block;
  text-decoration: underline;
  text-underline-offset: 2px;
  text-align: center;
  margin-top: 20px;
}