@import url('../colors.css');

.new-game {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 30px;
}

.new-game-box {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.new-game .new-game-box .new-game-box-title {
  font-weight: 300;
}

.new-game .new-game-box .new-game-box-counter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  box-shadow:  var(--shadow-color);
  border-radius: 12px;
  padding: 10px 15px;
}

.total-players-container {
  display: flex;
  align-items: center;
  gap: 4px;
}

.total-players {
  font-size: 20px;
  font-weight: 500;
}

.new-game-box-categories {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 10px;
  width: 100%;
}

.new-game-box-categories-item {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 6px;
  background-color: #fff;
  box-shadow:  var(--shadow-color);
  border-radius: 12px;
  padding: 20px 15px;
  transition: transform 0.3s ease-in-out;
  border: 1px solid #fff;
}

.new-game-box-categories-item:hover {
  transform: scale(1.02);
}

.new-game-box-categories-item span {
  font-weight: 500;
}

.remove-player, .add-player {
  cursor: pointer;
  transition: background-color .3s ease-in-out, border-color .3s ease-in-out;
  color: #fff;
  border: 1px solid var(--color-main);
  background-color: var(--color-main);
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  width: 35px;
}

.selected-category {
  border: 1px solid var(--color-main);
}

.new-game-box input {
  box-shadow:  var(--shadow-color);
  border-radius: 12px;
  font-size: 16px;
  height: 45px;
  padding-left: 15px;
  font-weight: 400;
}

.new-game-create {
  display: flex;
  justify-content: center;
}

.impostor-difficulty {
  font-size: 14px;
  color: var(--color-dark-light);
  font-weight: 300;
}