@import url('../colors.css');

.room-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.room-header-status {
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 12px;
  padding: 10px 20px;
}

.pending-status {
  animation: pulseFade 1.6s infinite ease-in-out;
}

@keyframes pulseFade {
  0% { opacity: 1; }
  50% { opacity: 0.4; }
  100% { opacity: 1; }
}


.room-code {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 30px;
}

.room-game-field {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 30px;
}

.room-code-value {
  background-color: #fff;
  box-shadow: var(--shadow-color);
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 20px;
  width: fit-content;
}

.room-game-field-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.room-category-value {
  background-color: #fff;
  box-shadow: var(--shadow-color);
  border-radius: 12px;
  display: flex;
  align-items: center;
  height: 50px;
  gap: 10px;
  padding-left: 20px;
}

.room-category-value span {
  font-weight: 500;
}

.room-game-field-text {
  font-weight: 300;
}

.room-code-value span {
  font-weight: 500;
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 6px;
}

.room-modify-game {
  color: #B3B0C4;
  font-size: 14px;
  text-decoration: underline;
  text-underline-offset: 2px;
}

.room-game-players {
  background-color: #fff;
  box-shadow: var(--shadow-color);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

.room-game-players-counter {
  align-self: center;
  color: var(--color-gray);
  font-size: 24px;
  font-weight: 500;
}

.room-game-player-name {
  background-color: #fff;
  box-shadow: var(--shadow-color);
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  height: 45px;
}

.room-game-config {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 40px;
}

.ready-message {
  color: var(--color-main);
  font-weight: 500;
}