@import url('../../colors.css');

.btn {
  border-radius: 12px;
  font-weight: 500;
  font-size: 16px;
  height: 42px;
  min-width: 220px;
}

.main-btn {
  background-color: #6B46C1;
  color: #fff;
  transition: background-color .3s ease-in-out, color .3s ease-in-out;
}

.main-btn:hover {
  background-color: transparent;
  border: 1px solid var(--color-main);
  color: var(--color-main);
}

.main-hover-btn {
  background-color: transparent;
  border: 1px solid var(--color-main);
  color: var(--color-main);
}

.disabled-hover-btn {
  background-color: transparent;
  border: 1px solid var(--color-main);
  color: #B3B0C4;
}