@import url('../../colors.css');

.btn {
  border-radius: 12px;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  height: 52px;
  min-width: 220px;
  transition: opacity 0.2s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.btn:hover {
  opacity: 0.9;
}

.btn-icon {
  display: flex;
  align-items: center;
}

.main-btn {
  background-color: var(--color-main);
  color: var(--color-white);
}

.main-hover-btn {
  background-color: transparent;
  border: 1px solid var(--color-main);
  color: var(--color-main);
}

.main-hover-btn:hover {
  background-color: var(--color-main);
  color: var(--color-white);
}

.disabled-hover-btn {
  background-color: transparent;
  border: 1px solid var(--color-gray);
  color: var(--color-gray);
}
