@import url('colors.css');

.logo {
  font-weight: 600;
  font-size: 36px;
  text-align: center;
  color: var(--color-main);
}

header {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 50px;
}

header p {
  text-align: center;
  color: var(--color-gray-light);
}

.header-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  width: 100%;
  animation: bounce 3s infinite;
  animation-timing-function: ease-in-out;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
}
