/* ==== Inter Font Family ==== */
@import url('./css/colors.css');

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter/Inter_18pt-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter/Inter_18pt-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter/Inter_18pt-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter/Inter_18pt-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}


body {
  font-family: 'Inter', sans-serif;
  background-color: #F7FAFC;
  padding: 50px 30px;
  margin: 0;
}

* {
  font-family: 'Inter', sans-serif;
  border: 0;
}

p, h1 {
  padding: 0;
  margin: 0;
}

button {
  cursor: pointer;
}

.disabled {
  opacity: .5;
  pointer-events: none;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-container label {
  font-weight: 300;
}

.form-container input {
  box-shadow: var(--shadow-color);
  border-radius: 12px;
  color: #fff;
  padding-left: 15px;
  height: 50px;
}