/* ==== Inter Font Family ==== */

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter/Inter-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter/Inter-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter/Inter-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter/Inter-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}


body {
  font-family: 'Inter', sans-serif;
  background-color: #080D17;
  padding: 50px 30px;
  color: #fff;
  margin: 0;
}

* {
  font-family: 'Inter', sans-serif;
  border: 0;
}

p {
  padding: 0;
  margin: 0;
}

button {
  cursor: pointer;
}

.disabled {
  opacity: .5;
  pointer-events: none;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-container label {
  font-weight: 300;
}

.form-container input {
  background-color: #161D2F;
  border: 1px solid #20283B;
  border-radius: 12px;
  color: #fff;
  padding-left: 15px;
  height: 50px;
}