@import url('../../colors.css');

.crew-container {
  background-color: #fff;
  box-shadow: var(--shadow-color);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 10px;
}

.crew-container-category {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 14px;
}

.crew-container-secret-word {
  color: var(--color-main);
  font-size: 30px;
  font-weight: 900;
}

.crew-container-description {
  color: #B3B0C4;
  font-size: 14px;
  text-align: center;
}

.crew-container-secret-word-text {
  color: var(--color-gray);
  text-align: center;
}

.crew-container-secret-word-value {
  color: var(--color-main);
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
}