.crew-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.crew-container-box {
  background-color: #3DE0CF4D;
  border-radius: 12px;
  border: 1px solid #3DE0CF;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 30px 20px;
}

.crew-container-box span {
  color: #3DE0CF;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 24px;
}

.crew-container-box p {
  color: #B3B0C4;
}

.crew-icon {
  background-color: #3DE0CF4D;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
}

.crew-container-secret-word {
  background-color: #161D2F;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 10px;
}

.crew-container-secret-word-text {
  color: #B3B0C4;
}

.crew-container-secret-word-value {
  color: #3DE0CF;
  font-size: 18px;
  font-weight: 600;
}