@import url('../../colors.css');

.crew-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.crew-container-box {
  background-color: #6B46C14D;
  border-radius: 12px;
  border: 1px solid var(--color-main);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 30px 20px;
}

.crew-container-box span {
  color: var(--color-main);
  text-transform: uppercase;
  font-weight: 600;
  font-size: 24px;
}

.crew-container-box p {
  color: var(--color-gray);
  text-align: center;
}

.crew-icon {
  background-color: #6B46C14D;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
}

.crew-container-secret-word {
  /* background-color: var(--color-gray); */
  background-color: #fff;
  box-shadow: var(--shadow-color);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 10px;
}

.crew-container-secret-word-text {
  color: var(--color-gray);
  text-align: center;
}

.crew-container-secret-word-value {
  color: var(--color-main);
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
}