.impostor-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.impostor-container-box {
  background-color: #DC29284D;
  border-radius: 12px;
  border: 1px solid #DC2928;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 30px 20px;
}

.impostor-container-box span {
  color: #DC2928;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 24px;
}

.impostor-container-box p {
  color: #B3B0C4;
  text-align: center;
}

.impostor-icon {
  background-color: #DC29284D;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
}