@import url('../../colors.css');

.impostor-container-box {
  background-color: var(--color-dark-card);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 30px 20px;
  position: relative;
  overflow: hidden;
}

.impostor-text {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: var(--color-main);
  font-weight: 500;
  text-align: center;
}

.impostor-title {
  color: var(--color-main);
  font-size: 28px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.impostor-description {
  color: var(--color-gray);
  font-size: 14px;
  text-align: center;
}

.impostor-icon {
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: -20px;
  opacity: .2;
}
