.impostor-container-box {
  background-color: #fff;
  border-radius: 12px;
  box-shadow:  var(--shadow-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 30px 20px;
  position: relative;
  overflow: hidden;
}

.impostor-text {
  font-size: 14px;
  text-transform: uppercase;
  color: #DC2928;
  font-weight: 550;
  text-align: center;
}

.impostor-title {
  color: #DC2928;
  font-size: 30px;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
}

.impostor-description {
  color: #B3B0C4;
  font-size: 14px;
  text-align: center;
}

.impostor-icon {
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: -20px;
  opacity: .3;
}