@import url('../../colors.css');

.intructions-title {
  font-family: 'Bangers', sans-serif;
  text-align: center;
  display: block;
  color: var(--color-main);
  font-size: 20px;
}

.instructions-list {
  color: var(--color-white);
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.instruction {
  color: var(--color-gray-light);
}

.intruction-title {
  font-weight: 500;
  color: var(--color-white);
}

.intructions-advice {
  font-size: 14px;
  color: var(--color-gray);
  font-style: italic;
}

.close-intructions {
  color: var(--color-main);
  cursor: pointer;
  text-decoration: underline;
  display: block;
  text-align: center;
  text-underline-offset: 3px;
  margin-top: 30px;
}

.close-intructions:hover {
  opacity: 0.8;
}
